* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    font-family: 'Rubik', sans-serif;
}



.page {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    height: 100vh;
    scroll-snap-align: center;
    background-color: #d5d4d4;
    color: steelblue;
}

.slide:nth-child(1) {
    padding: 20%;
}

.slide:nth-child(2) {
    background-color: #bdbdbd;
}

/*.slide:nth-child(3) {*/
/*    background-image: linear-gradient(180deg, rgba(137,128,56, 0.68),rgba(112,43,43, 0.52),rgb(68,89,151));*/
/*}*/

.slide:nth-child(4) {
    background-color: #bdbdbd;
}

/*.slide:nth-child(5) {*/
/*    background-image: linear-gradient(180deg, rgba(137,128,56, 0.68),rgba(112,43,43, 0.52),rgb(68,89,151));*/
/*}*/

#menu {
    width: 100%;
    display: flex;
    position: fixed;
    margin: 2%;
}

.menu
{
    font-size: 28px;
}

.sous-menu
{
    width: auto;
    display: flex;
    margin-top: 4%;
    margin-left: 2%;

}

.sous-menu a
{
    display: flex;
    margin-bottom: 15%;
    margin-top: 15%;
    text-decoration: none;
    color: steelblue;
}

.grid
{
    margin: 5% 5%;
    width: 100%;
    display: grid;
    align-self: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, auto);
    grid-gap: 30px;
    grid-auto-rows: minmax(100px, auto);
}

.grid div
{
    width: 100%;
    text-align: center;
}

.photo
{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.photo img
{
    width: 20%;
    border: white solid 2px;
    display: flex;
    margin: auto;
}

.deux
{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.trois
{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.quatre
{
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

.cinq
{
    grid-column: 1 / 2;
    grid-row: 5 / 6;
}

.six
{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.sept
{
    grid-column: 2 / 3;
    grid-row: 2 / 6;
}